.u-section-1 .u-sheet-1 {
  min-height: 1114px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-size: 3.75rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 4px 0 1px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}