.u-section-1 .u-sheet-1 {
  min-height: 2869px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-size: 3.75rem;
  margin: 1px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 10px 0 1px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2791px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2683px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2595px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2496px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}